In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a = [2,'hi',34,'hiiiii']

In [5]:
a*2

[2, 'hi', 34, 'hiiiii', 2, 'hi', 34, 'hiiiii']

In [6]:
b = []
for value in a:
    b.append(value*2)

In [7]:
b

[4, 'hihi', 68, 'hiiiiihiiiii']

In [8]:
for i in range(len(a)):
    b.append(a[i]*2)
b

[4, 'hihi', 68, 'hiiiiihiiiii', 4, 'hihi', 68, 'hiiiiihiiiii']

In [9]:
c = []
for i in range(len(a)):
    c.append(a[i]*2)
c

[4, 'hihi', 68, 'hiiiiihiiiii']

In [14]:
# comprehension
## for-loop statement which are of ine linear
#list comprehension
# [output for loop] - map
# [output for loop if condition]- acts like filter
b = [val*3 for val in a]
b

[6, 'hihihi', 102, 'hiiiiihiiiiihiiiii']

In [ ]:
#dictionary comprehension
# { key_op:value_op for-loop}
#set comprehension
# { output for-loop}
# generator comprehension
# { output for-loop}

In [15]:
k = [4,7,3,67,34,2,4,45,22,11,9,8]

In [16]:
p = [val for val in k if val%2==0]
p

[4, 34, 2, 4, 22, 8]

In [23]:
e = [val for val in k if (val%2==1 and val>10)]
e.sort(reverse = True)
e

[67, 45, 11]

In [27]:

p = [val//2 if val%2 == 0 else val*2 for val in k ]
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [29]:
# task multiply by 2 if odd otherwise check if it is less than 20 then do // otherwise do not anything
t = [val*2 if val%2==1 else (val//2 if val<20 else val) for val in k]
t

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [31]:
k

[4, 7, 3, 67, 34, 2, 4, 45, 22, 11, 9, 8]

In [32]:
m = {val:val**2 for val in k if val%2 == 0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [36]:
def function_ka_naam():
    '''
    yaha me kuch bhi likh dunga or tumhe pata bhi nahi chalega
    '''
    print("ye mera function he")
function_ka_naam()

ye mera function he

In [48]:
a=2
while a>5:
    pass
print("hellllow")

hellllow

In [41]:
def merafunc(ek,dusri):
    return ek*dusri
merafunc(25,2)

50

In [42]:
merafunc(dusri = 10,ek = 4)
#we can do this it is allowed in python

40

In [47]:
def terafunc(ek,dusri,teesri):
    return ek*dusri*teesri
terafunc(12,10,2)

240

In [49]:
def kuchor(x=0,*v):
    return [i*x for i in v]

In [50]:
kuchor(3,6,8)

[18, 24]

In [57]:
def kyuor(x=0,*v,**u):
    return [i*x for i in v],u

In [59]:
kyuor(3,6,8, somedata = [3,4,5,6])

([18, 24], {'somedata': [3, 4, 5, 6]})